<ion-content class="help-content">
  <h2 text-center>Preguntas frecuentes</h2>
  <ion-list>
    <button text-wrap text-center ion-button full round (click)="seeHelp(100)">¿Cómo tomar asistencia?</button>
    <button text-wrap text-center ion-button full round (click)="seeHelp(101)">¿Cómo crear un usuario?</button>
    <button text-wrap text-center ion-button full round (click)="seeHelp(102)">¿Cómo eliminar un usuario?</button>
    <button text-wrap text-center ion-button full round (click)="seeHelp(103)">¿Cómo modificar datos de un usuario existente?</button>
    <button text-wrap text-center ion-button full round (click)="seeHelp(104)">¿Cómo crear una encuesta?</button>
    <button text-wrap text-center ion-button full round (click)="seeHelp(105)">¿Cómo eliminar una encuesta?</button>
    <button text-wrap text-center ion-button full round (click)="seeHelp(106)">¿Cómo modificar una encuesta?</button>
  </ion-list> 
</ion-content>