page-help-view-assitences {
    img{
        max-width: auto;
        height: auto;
    }
    .help{
        background-image: url('../assets/img/BackgroundAyudaGenerico.png');
        background-repeat: no-repeat;
        background-size:cover;
    }
}
