<ion-content class="help-content">
  <h2 text-center>Preguntas frecuentes</h2>
  <ion-list>
    <button text-wrap text-center ion-button full round (click)="seeHelp(100)">¿Cómo crear un usuario?</button>
    <button text-wrap text-center ion-button full round (click)="seeHelp(101)">¿Cómo eliminar un usuario?</button>
    <button text-wrap text-center ion-button full round (click)="seeHelp(102)">¿Cómo modificar datos de un usuario existente?</button>
    <button text-wrap text-center ion-button full round (click)="seeHelp(103)">¿Cómo puedo ver los resultados de las encuestas?</button>
  </ion-list>
</ion-content>