help-for-teacher {
    .help-content{
        background-image: url('../assets/img/help-large.png');
        background-repeat: no-repeat;
        background-size:cover;

    }
    h2{
        color: #474040;
    }

    [ion-item]{
        background-color: #a5ffd0;
    }

}
